<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <title>{{message}} | {{title}}</title>
  <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
  <main class="content">
    <img src="{{{logo}}}" class="logo-wordcamp" alt="{{event.name}}" />
    <p>{{message}}</p>
  </main>
  <footer class="site-info">
    <a href="{{event.url}}">{{event.name}}</a>
  </footer>
</body>
</html>
