/**
 * Box Sizing
 */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/**
 * Content
 */

body {
  color: #252525;
  background-color:#F7F7F7;
}

.content {
  padding: 30px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.logo-wordcamp {
  max-height: 150px;
  width: auto;
}

.instructions {
  padding: 10px;
}

/**
 * Form Input
 */

.form-certificate {
  position: relative;
  text-align: center;
  width: 100%;
}

.form-certificate input {
  background-color:  #ffffff;
  border-bottom-left-radius: 2px;
  border-right: 0;
  border-top-left-radius: 2px;
  border: 1px solid #999999;
  color:#252525;
  padding: 14px 15px 14px 40px;
  width: 80%;
}

.form-certificate button {
  background-color:  #21759b;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: -4px;
  outline: none;
  padding: 15px 22px;
}

.form-certificate button:hover {
  background-color: #2c9bce;
}
